<%- if @attachment.image? -%>
  <%= image_tag(@attachment.s3_url(:detail), :alt => 'Attachment', :title => @attachment.title) %>
<%- else -%>
  <p><%= link_to('Download', @attachment.url(:original)) -%></p>
<%- end -%>
<dl>
  <dt>Title</dt>
  <dd><%= h(@attachment.title) %></dd>
  <dt>Given name</dt>
  <dd><%= h(@attachment.description.html_safe) %></dd>
</dl>
<p><%= link_to('Edit this attachment', edit_instructor_attachment_path(@attachment)) %></p>
<p><%= link_to('Delete this attachment', delete_instructor_attachment_path(@attachment)) %></p>
