<% content_for :meta do %>
  <meta name="keywords" content="Photography Course Online, Photography School Online, Photography Classes Online" />
 <meta name="description" content="Learn photography blogs, photography course online with The Compelling Image covering a range of topics including portraits, landscapes, black & white, digital slr and more." />
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
<% end %>
<%= stylesheet_link_tag "dreyanim" %>
<%= stylesheet_link_tag "dreymodal" %>

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/contest-banner.jpg" alt="First slide">
    </div>
  </div>
</div>



<!-- Container -->
<div class="container">
    <div class="row clearfix">
      <div class="col-lg-12">
        <p class="content">
        <%= @cd.content.html_safe%></p>
<!--     <p>Each month The Compelling Image via Instagram will be looking at your best photographs to select a “<span>Compelling Image of the Month.</span>”<br />
          Judged by our international team of instructors, those chosen will be showcased on the TCI website and throughout The Compelling Image’s social media network.<br />
          Each month a new photo “theme” will be announced both here and on Instagram. Monthly winners will receive<br /> 
          <span>a free 4-lesson / 60-day TCI course</span><br />
          and will be announced here and on Instagram the third day of each following month.<br /><br />
          To kick off our first contest, December’s entrants will be eligible to win TCI’s popular, “The iPhone Filmmaker,” taught by award-winning photographer and filmmaker, Cielo de la Paz.<br /><br />
          To enter, go to Instagram and upload your single most compelling photograph with the hash-tag #the_compelling_image_favoriteplaceDavid Bathgate,</p>-->
      </div>
      <div class="col-lg-12">
        <div class="head">2017</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box openButton">
   
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">January</div>
        </div>

      </div>


      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box openButton">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">February</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">March</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">April</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">May</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">June</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">July</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">August</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">September</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">October</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">November</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="contest-box">
          <div class="img-box">
            <img src="images/contest-img.jpg" alt="Winner Image" />
          </div>
          <div class="contest-text">December</div>
        </div>
      </div>
    </div>
</div>
<!-- Container -->

<div class="testObjectSec">
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <img src="images/contest-img.jpg" alt="Winner Image" class="img-responsive popup-image" />
      </div>
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
        <table width="100%" cellspacing="0" cellpadding="0" class="table table-condensed no-border">
          <tbody>
            <tr>
              <td align="left" valign="middle"><strong>Name :</strong></td>
              <td align="left" valign="middle">Hero</td>
            </tr>
            <tr>
              <td align="left" valign="middle"><strong>Date :</strong></td>
              <td align="left" valign="middle">22 - June - 2016</td>
            </tr>
            <tr>
              <td align="left" valign="middle"><strong>Prize :</strong></td>
              <td align="left" valign="middle">a free 4-lesson / 60-day TCI course</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>


<div class="content-space-one">
    <div class="container">
      <div class="row clearfix">
        <div class="col-lg-12">
          <div class="text-center">a virtual classroom / social-interactive experience...
          As a TCI student, you’ll receive valuable critiques and advice from your instructor, timely answers to your questions and be able to discuss all that is happening on your course with fellow classmates.
          <span>Get started today - Try a sample lesson for FREE!</span>
          Sign up for a no-strings-attached account, enroll on the FREE sample lesson and you're set to begin!<br>
          <center><a href="#" class="btn btn-transparent btn-lg">Sign up for a course</a></center>
          </div>
        </div>
      </div>
    </div>
</div> 


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<%= javascript_include_tag "dreyanim" %>
<%= javascript_include_tag "dreymodal" %>
<script>    
    // $('.testObject').dreymodal();
    var q = new Dreymodal(document.getElementsByClassName('testObjectSec'),{
      minWidth : 300,
      maxWidth : 700,
      overlay : true,
      overlayColor : "#222222",
      overlayOpacity : 0.9,
      closeButton : true,
      inAnimationTime : 600,
      inAnimationType : "slideInFromLeft",
      outAnimationTime : 600,
      outAnimationType : "slideOutToRight",
      allowEscapeKey : true,
      title : "Congratulations!",
      titleBackColor : "transparent",
      overlayBlur : true
    });
    $('.openButton').click(function(){
      q.open();
    })
  </script>
