<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= render(:partial => 'common/javascripts', :locals => {:protocol => :https}) %>
	<%= render(:partial => 'common/stylesheets', :locals => {:protocol => :https}) %>
	<%= title_tag %>
	<%= yield :head %>
</head>
<% body_tag do %>
  <div class="container_16">
    <div class="grid_16" id="navigation">
	    <ul id="navigation">
	      <%= primary_navigation_link_to('Home', :home, root_url) -%>
	      <%= primary_navigation_link_to('About', :about, page_url(:about)) -%>
	      <%= primary_navigation_link_to('Courses', :courses, courses_url) -%>
	      <%= primary_navigation_link_to('Instructors', :instructors, instructors_url) -%>
        <%= primary_navigation_link_to('Contact', :contact, new_enquiry_url) -%>
        <%= primary_navigation_link_to('Blog', :blog, page_url(:blog)) -%>
        <%= primary_navigation_link_to('Emerging Photographer Program', :packages, packages_url) -%>
	    </ul>
	    <ul id="login">
        <%= primary_navigation_link_to('Logout', :logout, logout_url) -%>
        <%= primary_navigation_link_to("Student Area", :student_area, student_root_url) -%>
	    </ul>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="grid_16" id="header">
      <h2>...Online Courses in Photography and Multimedia Storytelling - Taught by the Professionals</h2>
      <h1><%= link_to("The Compelling Image", root_url) -%></h1>
	  </div>
	  <div class="clear">&nbsp;</div>
    <%= yield %>
    <div class="grid_16" id="footer">
      <span id="navigation"><%= link_to("Privacy Policy", "#") -%> | <%= link_to("Contact", "#") -%></span>
      <span id="copyright">&copy; <%= Time.now.year -%> The Compelling Image</span>
    </div>
  </div>
  <%= render(:partial => 'common/tracking') if request.host == 'former.thecompellingimage.com' -%>
<% end %>
</html>