<%
page_config do |page|
  page.body_tag_options = { :class => 'sales', :id => 'gifts' }
  page.primary_navigation_section = :gifts
  page.title.unshift('Gifts')
end
-%>

<% content_for :meta do %>
<meta name="keywords" content="The Compelling Image Learn Photography Online Video Production Course" />
<meta name="description" content="Take an online course in photography or video production with The Compelling Image. Our industry established experts take you from strength to strength." />
<% end %>

<div class="container content_bg margin-t-70"><!-- Container -->
<!-- <div class="banner">
  <%= image_tag how_it_work_banner_image, alt: "" %>
  <span>
    Gift a Course
  </span>
</div> -->
<!-- Banner -->
<div class="inner_content_container">
  <div class="inner_content_left">
    <div class="page_title">Gift a Course</div>
      <!-- Page Title -->
      <p>With courses ranging from beginner through aspiring professional levels, you’re sure to find just the right online and interactive TCI course for the photographer on your gift-giving list. Choose from two-, four-, or six-lesson courses, with or without an optional 30-minute instructor consultation call on Skype. Portfolio reviews and one-on-one mentorships are available, too.</p>
      <br>
      <p>Here’s how it works. If you’re not already a TCI acount holder, you’ll be prompted to sign up for free. You’re then set to place your order. Choose the course category (two-, four-, six-lesson, portfolio review or one-on-one mentorship) you wish to purchase, make your secure payment using Pay Pal or a major credit card (Stripe Gateway), and select the date you’d like the recipient to be notified of their gift arrival. On that date, they’ll receive email notification of their gift and a code number for enrolling (within category) on the offering of their choice. That’s it! They’ll then be set - straight away - to begin learning and practicing a whole new set of photography skills and techniques, taught at TCI!</p>
      <%= form_for('', :url => new_gift_path, method: :get, html: { class: 'gift-page-form' }) do |f| %>
          <span class='gift-page-title'>choose your gift</span>
          <%= f.select(:gift_id, @gifts.map { |g| [g.title, g.id, 'data-price': g.price] }, {}, class: 'gift-page-dropdown') %>
          <b class='gift-page-price'></b>
          <button class='enroll gift-page-submit' type='submit'>BUY</button>
      <% end %>
  </div>
  <!-- Left Content -->

  <div class="inner_content_right">
    <%= render(:partial => "common/testimonials",:locals=>{:testimonials=>@testimonials}) -%>
    <%= render(:partial => "common/sample", :locals => {:classes => "margin_bottom_20"}) -%>
  </div><!-- Sidebar -->
</div><!-- Inner Content Container -->
</div><!-- Container -->
<script>
  jQuery(function ($) {
    setPrice($('#_gift_id option:selected'))

    $('#_gift_id').on('change', function(e) {
      setPrice(e.target.options[e.target.selectedIndex]);
    })

    function setPrice(target) {
      $('.gift-page-price').text('$' + $(target).data('price'))
    }
  })
</script>
