<%= stylesheet_link_tag 'tci', 'pretty_buttons', 'uni-form-generic', 'uni-form', 'prototip', 'flash', 'astreik_color'%>
<div class="container content_bg">
  <div class="inner_content_container">
    <%= content_tag "p", flash[:alert], :class => "flash error" if flash[:alert] %>
    <div class="inner_content_left">
      <%= render 'form' %>
    </div>
    <div class="inner_content_right">
      <%#= render(:partial => "purchases/help", :locals => {:classes => "margin_bottom_20"}) -%>
      <%= render(:partial => "purchases/payments") -%>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
</div>
 <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <script>
  jQuery(function ($) {
    $(document).ready(function(){
      $( ".purchase_enroll_btn" ).click(function(e) {
        if ($('#user_gift_gateway_stripe').is(':checked')) {
          var token = function(res){
            var $input = $('<input type=hidden name=stripeToken />').val(res.id);
              $('form').append($input).submit();
          };
          StripeCheckout.open({
            key:         '<%= Rails.configuration.stripe[:publishable_key] %>',
            amount:      '<%= @gift.price_in_cents %>',
            currency:    'usd',
            panelLabel:  'Checkout',
            token:       token
          });
        } else {
          $('form').submit();
        }
      });
       return false;
    });
  });
  </script>
