<div class="grid_11 margin_top_20 alpha">
  <h6>Students for <%= h(@scheduled_course.course.title) -%> <!-- @ <%#= @scheduled_course.starts_on.to_formatted_s(:long) -%> --></h6>
  <% unless @enrolments.empty? %>
    <table summary="List of students enrolled on the course" class="pretty">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @enrolments.each do |enrolment| %>
          <tr>
            <td><%= enrolment.student.full_name -%></td>
            <td><%= link_to(h(enrolment.student.email), '#', :rel => "Copy this email address to the clipboard, open a new browser<br />window and go to the login page. Paste the email address and use<br />the password <strong>blah</strong> to see the user's eye view of the site") -%></td>
            <td align="right">
              <%- if enrolment.editable?(current_user) -%>
                <%= link_to(image_tag("icons/pencil.png", :alt => "Edit this enrolment"), edit_administrator_enrolment_path(enrolment), :rel => "Edit this enrolment") -%>
              <%- end -%>
              &nbsp;
              <%= link_to(image_tag("icons/delete.png", :alt => "Delete this enrolment"), delete_administrator_enrolment_path(enrolment), :rel => "Remove this student enrolment") -%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate(@enrolments) %>
  <% else %>
    <p>No students exist on this course.</p>
  <% end %>
</div>
<div class="grid_5 margin_top_20 omega">
  <p class="buttons">
    <%= pretty_button_link "Enroll a student on this course", new_administrator_scheduled_course_enrolment_path, {:icon_path => "icons/add.png"} %>
  </p>
  <div class="clear">&nbsp;</div><br />
</div>
<div class="clear">&nbsp;</div>
