<%= uni_form_for(@attachment, :url => instructor_path_video_attach_path, :html => { :autocomplete => 'off', :multipart => true }) do |f| %>
  <div class="grid_16 alpha margin_top_20">
    <%= error_messages(@attachment) ? '<div style="color: red;" id="error_explanation"><ul><li>Please upload video</li></ul></div>'.html_safe : "" %>
    <% f.fieldset(:type => "block", :legend => "Attachment Details") do %>
      <%= f.text_field(:title, :required => false, :label => "Title", :style => "width: 99%;") -%>
      <%= f.text_field(:meta_data, :required => false, :label => "Meta Data", :style => "width: 99%;") -%>
      <%= f.text_area(:description, :label => "Description", :style => "width: 99%;") -%>
      <%= f.hidden_field(:vimeo_video_id, :size => '30', :label => "Vimeo Video ID", :style => "width: 99%;") %>
      <%= f.hidden_field(:youtube_video_id, :size => '30', :label => "Youtube Video ID", :style => "width: 99%;") %>
      <% unless @attachable.is_a?(User) %>
        
      <% end %>
    <% end %>
    <%- if @attachment.new_record? -%>
      <% f.fieldset(:type => "block", :legend => "Upload a video", :style =>'margin-bottom:0px;') do %>
        <%= f.file_field(:vimeo_asset, :label => "File to upload", :required => true) -%>
      <% end %>
      <% f.fieldset(:type => "block", :legend => "Upload a file" ,:style =>"display:none;") do %>
        <%= f.file_field(:asset, :label => "File to upload",:style =>"display:none;") -%>
      <% end %>
    <%- elsif @attachment.image? -%>
      <% f.fieldset(:type => "block", :legend => "Current Attachment") do %>
        <%= image_tag(@attachment.s3_url(:medium), :alt => 'Attachment', :title => @attachment.title, :style => "margin-left: 5px;") %>
      <% end %>
    <%- end -%>
  </div>
  <div class="clear">&nbsp;</div>
  <%- unless !defined?(redirect) || redirect.nil? -%><%= f.hidden_field(:redirect, :value => redirect) -%><%- end -%>
  <%- if @attachment.new_record? -%>
    <%= f.hidden_field(:attachable_type, :value=> 'Assignment') -%>
    <%= f.hidden_field(:attachable_id) -%>
    <%= f.hidden_field(:owner_user_id, :value=> current_user) -%>
    <div class="clear">&nbsp;</div><br />
    <p class="buttons"><%= pretty_button "Submit", {:icon_path => "icons/tick.png"} %>&nbsp;&nbsp;&nbsp; 
    <%= link_to '<button class="button" type="button"><img src="/assets/icons/cross.png"> Cancel</button>'.html_safe, "/instructor/assignments/#{@lesson_ids}",:class=>'button',:style=>'padding:0px;margin:0px;' %> 
  <%- else -%>
    <div class="clear">&nbsp;</div><br />
    <p class="buttons"><%= pretty_button "Update", {:icon_path => "icons/tick.png"} %>
  <%- end -%>
<% end %>
