<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="thecompellingimage-com">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <%= title_tag %> 
    <meta name="author" content="thecompellingimage.com">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 days">
    <meta http-equiv=”content-language” content=”en-us”>
    <meta name="abstract" content="Photography Courses, Travel Photography Course, Fashion Photography Course online">
     <meta name="language" content="English">
    <meta name="copyright" content="The Compelling Image">
    <meta name="googlebot" content="index, follow">
    <meta content="Distribution" name="Global"> 
    <script type="text/javascript">
		window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=

		d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.

		_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");

		$.src="//v2.zopim.com/?3iWxInD47zRfF52SpDGJzOo31zcxTGKs";z.t=+new Date;$.

		type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");

		</script>
    <%= render(:partial => 'common/stylesheets') %>
    <%= stylesheet_link_tag 'lightbox' %>
    <link rel="icon" href="http://former.thecompellingimage.com/images/favicon.ico" type="image/x-icon" />
    <!--<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>-->
    <link rel="shortcut icon" href="http://former.thecompellingimage.com/images/favicon.ico" type="image/x-icon" />
    <%= javascript_include_tag 'application', "slides.jquery", "jquery.easing.1.3", "jquery.lightbox", "select_link_color","async"=>true, "cache"=> true %>
    <%= yield :head %>
    <%= yield :meta %>    

<%#*<script>%>
<%#*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){%>
<%#*(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),%>
<%#*m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)%>
<%#*})(window,document,'script','//www.google-analytics.com/analytics.js','ga');%>

<%#*ga('create', 'UA-64147029-1', 'auto');%>
<%#*ga('send', 'pageview');%>

<%#*</script>%>
   <script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 

  ga('create', 'UA-68318437-1', 'auto');

  ga('send', 'pageview');

 

</script>
  </head>
  <body>
    <div class="header_wrapper">
<%= render 'shared/header_wrapper' %>
    </div>
    <div class="content_wrapper">
<%= yield %>
    </div>
    <!-- <div class="footer_wrapper">
      <div class="container">
        <div class="copyright">
          <span id="navigation"><%= link_to("Privacy Policy", page_path('privacy')) -%> | <%= link_to("Sitemap", sitemap_path) -%> | <%= link_to("Contact", new_enquiry_path) -%></span> |
          <span id="copyright">Copyright &copy; <%= Time.now.year -%> The Compelling Image</span>
        </div>
      </div>
    </div> -->
    <footer>
      <div class="container">
        <div class="row clearfix">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <ul class="flinks">
              <li><%= link_to("Privacy Policy", page_path('privacy')) -%></li>
              <li><%= link_to("Sitemap", sitemap_path) -%></li>
              <li><%= link_to("Contact", new_enquiry_path) -%></li>
              <li>COPYRIGHT©2017.The Compelling Image</li>
              <!--<li>Powered By : <a href="http://www.digiinteracts.com" target="_blank">DIGIINTERACTS</a></li>-->
              <li>Powered By : <a href="http://www.digiinteracts.com" target="_blank">DIGIINTERACTS</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <ul class="slinks">
              <li><a href="https://twitter.com/intent/tweet?text=Online%20photography%20courses%20-%20The%20Compelling%20Image%20photography%20school&source=sharethiscom&related=sharethis&via=sharethis&url=https://shar.es/1tPuUN" target="__blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fshar.es%2F1tPu8u&t=Online+photography+courses+-+The+Compelling+Image+photography+school" target="__blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2FpostLogin%3Fsession_rikey%3D91Tt-4HO14H8bnRxZaJNYlrHfGAEGjOU1EClFtDV5y4hS3Cdzgi0ZV1NFyP4-zMP-IQZATQhK3x1ZyRaO6uJZtHFvsYtPtHpZkh%26l%3Dhttps%253A%252F%252Fwww%252Elinkedin%252Ecom%252FshareArticle%253Fsummary%253DThe%252BCompelling%252BImage%252Bis%252Ban%252Bonline%252Bphotography%252Bschool%252Bstaffed%252Bby%252Bprofessional%252Bphotographers%252Boffering%252Bbeginner%252Bthrough%252Badvanced%252Bclasses%2526mini%253Dtrue%2526source%253D%2526title%253DOnline%252Bphotography%252Bcourses%252B-%252BThe%252BCompelling%252BImage%252Bphotography%252Bschool%2526url%253Dhttp%25253A%25252F%25252Flocalhost%25253A3000%25252F%25253Fsthash%25252E5jcQVRrD%25252Emjjo%26id%3D0%26b%3D4816f196-16b9-4da5-8810-e37e305dc796%26h%3DewIp%26m%3DGET" target="__blank"><i class="fa fa-linkedin"></i></a></li>              
              <li><a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/share?url%3Dhttps://instagram.com/the_compelling_image/%2523sthash.5jcQVRrD.hpvt%26hl%3Den-US%26gpsrc%3Dgplp0&btmpl=popup&hl=en-US#identifier" target="__blank"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://instagram.com/the_compelling_image/" target="__blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <!--<%= javascript_include_tag "jquery.min.js", "data-turbolinks-track" => true  %>-->
  <%= javascript_include_tag "bootstrap.min.js", "data-turbolinks-track" => true  %>
  <%= javascript_include_tag "npm.js", "data-turbolinks-track" => true  %>
  <!--<%= javascript_include_tag "owl.carousel.js", "data-turbolinks-track" => true  %>-->
  <%= javascript_include_tag "jquery.cycle.all.js", "data-turbolinks-track" => true  %>
  <!--<script type="text/javascript">
      $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            navigation : false, // Show next and prev buttons
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem:true,
            autoPlay: true
            // "singleItem:true" is a shortcut for:
            // items : 1, 
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false
        });
      });
  </script>-->
  <script type="text/javascript">
    $(document).ready(function(){       
      var scroll_start = 0;
      var startchange = $('#startchange');
      var offset = startchange.offset();
      if (startchange.length){
        $(document).scroll(function() { 
          scroll_start = $(this).scrollTop();
          if(scroll_start > offset.top) {
            $(".navbar-default").css('background-color', 'rgba(44, 42, 42, 1)');
          } else {
            $('.navbar-default').css('background-color', 'rgba(44, 42, 42, 0.6)');
          }
        });
      }
    });
    $('ul.nav li.dropdown').hover(function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(500);
    }, function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(500);
    });
  </script>
</html>
