<html>
<head>
  <style type="text/css">
    body{font-size: 14px;}
  </style>
</head>
<body>
<span ><%= wicked_pdf_image_tag ('tci-logo.jpg') %></span>
  <div class="grid_11 margin_top_20 alpha">
    <h4><%= @lesson.course.title %></h4>
    <h5><%= @lesson.title -%></h5>
    <hr />
    <%= interpolate_pdf_attachments(@lesson.description, @lesson.attachments, 620, 440).html_safe -%>

  <div class="clear">&nbsp;</div>
  <cite>
      All photos and text copyright <%= @lesson.course.instructors.map(&:full_name).join(',') -%> - all rights reserved worldwide. No
      form of reproduction or usage - including copying, altering, or saving of digital image and text files - is permitted without
      the express written permission of <%= @lesson.course.instructors.map(&:full_name).join(',') -%> and thecompellingimage.com.
      <br /><br />
      &copy; <%= @lesson.course.instructors.map(&:full_name).join(',') -%>. All rights reserved.
      <br /><br />
    </cite>
  <div style='margin-left:25%;'>
    Copyright &copy; <%= Time.now.year -%><span style= 'margin-left: 2px;'>The Compelling Image </span>
  </div>
</body>
</html>
